body {
  background: url("../images/rain.jpg");
  background-repeat: repeat;
  font-weight: bold;
}

p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: right;
  font-family: "Francois One", sans-serif;
  line-height: 15px;
  color: black;
}

#temperature-text {
  font-size: 40px;
  text-align: right;
  position: relative;
  top: 20px;
}

#weather-description {
position: relative;
top: 15px;
}

#submit-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Francois One", sans-serif;
  font-weight: normal;
}

#current-btn {
  background-color: white;
  color: black;
  border: 1px;
  margin-left: 3px;
  border-radius: 3px;
  font-family: "Francois One", sans-serif;
  font-weight: normal;
  float: left;
}

#city-input {
  font-family: "Francois One", sans-serif;
  border: 3px;
}

a:link {
  text-decoration: none;
  color: black
}

a:visited {
  text-decoration: none;
  color: black;
}

#city-search-form {

  float: left;

}

#city-name {
  margin: 0px;
  padding: 0px;
  font-family: "Francois One", sans-serif;
  text-align: right;
  font-size: 60px;
  line-height: 1px;
}

#city-input {
  background-color: black;
  border: 0px;
  color: white;
  opacity: 1;
}

#dash {
  padding: 25px;
  display: block;
  margin: 110px auto;
  background-color: #ffa600;
  width: 50%;
  height: 25%;
  box-shadow: 10px 10px #000000;
  max-width: 700px;
  border-radius: 10px;
}

.col {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.forecast {
  text-decoration: bold;
  padding-top: 20px;
  color: black;
}

#lightning-img {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  
}

#forecast-img {
  width: 50px;
}
