body {
  background: url("../images/rain.jpg");
  background-repeat: repeat;
  font-weight: bold;
}

p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: right;
  font-family: "Francois One", sans-serif;
  line-height: 28px;
  color: black;
}

#temperature-text {
  font-size: 40px;
  text-align: right;
  position: relative;
  top: 18px;
}

#date-text {
  font-size: 12px;
  position: relative;
  top: 10px;
  }

#weather-description {
position: relative;
top: 15px;
}

#submit-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Francois One", sans-serif;
  font-weight: normal;
}

#current-btn {
  background-color: white;
  color: black;
  border: 1px;
  margin-left: 3px;
  border-radius: 3px;
  font-family: "Francois One", sans-serif;
  font-weight: normal;
  float: left;
}

#city-input {
  font-family: "Francois One", sans-serif;
  border: 3px;
}

a:link {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
  }

a:visited {
  text-decoration: none;
  color: black;
}

#city-search-form {
  float: left;

}

#city-name {
  margin: 0px;
  padding: 0px;
  font-family: "Francois One", sans-serif;
  text-align: right;
  font-size: 60px;
}

#city-input {
  background-color: black;
  border: 0px;
  color: white;
  opacity: 1;
}

#dash {
  padding: 25px;
  display: block;
  margin: 110px auto 10px;
  background-color: #ffa600;
  width: 500px;
  height: 350px;
  box-shadow: 10px 10px #000000;
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px;
}

.col {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.forecast {
  text-decoration: bold;
  padding: 0px 5px;
  color: black;
}

#main-weather-icon {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  position: center;
  
}


#open-source-code-text {
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 12px;
 display: block;
 margin: 0 auto;
 text-align: center;
 background-color: white;
 max-width: 200px;
 
 }

 #weather-description-text {
 text-transform: lowercase;
 }

 .forecast-text {
   text-align:center;
   font-size: 12px;
   font-weight: normal;
   line-height: 20px;
 }

 .forecast-img {
  width: 40px;
  display:block;
  margin: 0 auto;
}
